Django==6.1.1
psycopg2-binary==2.9.13
python-decouple==3.8
gunicorn==22.0.0
whitenoise==6.6.0
daphne==4.2.2
django-cors-headers==4.3.1
pillow==12.3.0
celery==5.3.4
redis==5.0.1

django-otp==1.7.3
pyotp==2.10.0
